@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: aliceblue;
}
.title {
  text-align: center;
  margin: 20px;
}
input {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
label {
  font-size: 17px;
}
.error {
  color: red;
  font-size: 11px;
  display: none;
}
.btn-register {
  border: none;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-register:hover {
  background-color: rgb(4, 86, 4);
  transition: all ease 0.3s;
}
